@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@1,300&family=Roboto:wght@400;700&display=swap');



*{
  font-family: 'DM Sans';
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.container{
  border: 3px black solid;
  margin: auto;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  border-bottom: 5px solid rgb(1, 143, 143);
  border-top: 5px solid rgb(1, 143, 143);
}


.todo {
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.TDvalue{
  background: transparent;
  border: none;
  outline:none;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  flex-grow: 1;
}

.todo:has(.TDbox:checked) {
  color: gray;
  background: bisque;
  text-decoration: line-through;
  order: 1;
}










